<!DOCTYPE html>
<html>
  <head>
    <title>Ruby on Rails Chat Box</title>
    <link rel="stylesheet" type="text/css" href="chat.css">
  </head>
<section class="chat-box">
  
  <header class="chat-header">
      <h1>Ruby On Rails Chat Box</h1>
  </header>
  
  <ol class="discussion">
    <li class="other-user">
      <div class="user-image">
        <img src="http://www.stthomasrichmond.org/sites/stthomas.garzawebdesign.com/files/imagefield_default_images/avatar_blank.jpg_1.png?1321496933" />
      </div>
      <div class="messages">
        <p class="messages-main">sample message from 'other' user</p>
        <p class="message-info">Sent by (name of user) at (time)</p>
      </div>
    </li>
    <li class="user">
      <div class="user-image">
        <img src="http://www.stthomasrichmond.org/sites/stthomas.garzawebdesign.com/files/imagefield_default_images/avatar_blank.jpg_1.png?1321496933" />
      </div>
      <div class="messages">
        <p class="messages-main">sample message from 'self' user</p>
        <p class="message-info">Sent by (name of user) at (time)</p>
      </div>
    </li>
    <li class="other-user">
      <div class="user-image">
        <img src="http://www.stthomasrichmond.org/sites/stthomas.garzawebdesign.com/files/imagefield_default_images/avatar_blank.jpg_1.png?1321496933" />
      </div>
      <div class="messages">
        <p class="messages-main">Second sample message from the 'other' user</p>
        <p class="message-info">Sent by (name of user) at (time)</p>
      </div>
    </li>  
  </ol>
  <div class="text-box">User Enters Message/Text here!
    <p></p>
  </div>
</section>
</html>