<!DOCTYPE html>
<html>
<body>
<section class="login-box">
 <header class="login-header">
   <h1>Chat Login</h1>
 </header>
  <ol class="selection-box">
    <li>
      <div class="user-image">
        <img src="http://www.stthomasrichmond.org/sites/stthomas.garzawebdesign.com/files/imagefield_default_images/avatar_blank.jpg_1.png?1321496933" />
      </div> 
      <p class="user-name">User Name</p>
    </li>
    <li>
      <div class="user-image">
        <img src="http://www.stthomasrichmond.org/sites/stthomas.garzawebdesign.com/files/imagefield_default_images/avatar_blank.jpg_1.png?1321496933" />
      </div> 
      <p class="user-name">User Name</p>
    </li>
        <li>
      <div class="user-image">
        <img src="http://www.stthomasrichmond.org/sites/stthomas.garzawebdesign.com/files/imagefield_default_images/avatar_blank.jpg_1.png?1321496933" />
      </div> 
      <p class="user-name">User Name</p>
    </li>
  </ol>
</section>
</body>
</html>