<!DOCTYPE html>
<html>
<body>
<section class="login-box">
 <header class="login-header">
   <h1>Chat Login</h1>
 </header>
  <ol class="selection-box">
    <li>
      <div class="user-image">
        <%= image_tag("default-profile-pic.png") %>
      </div> 
      <p class="user-name">User Name</p>
    </li>
    <li>
      <div class="user-image">
        <%= image_tag("default-profile-pic.png") %>
      </div> 
      <p class="user-name">User Name</p>
    </li>
        <li>
      <div class="user-image">
        <%= image_tag("default-profile-pic.png") %>
      </div> 
      <p class="user-name">User Name</p>
    </li>
  </ol>
</section>
</body>
</html>