<!DOCTYPE html>

<html>
<head>
  <%= stylesheet_link_tag 'chat' %>
</head>
<body>
  
<section class="chat-box">

  <header class="chat-header">
      <h1>Conversation room</h1>
  </header>
  
  <ol class="discussion" id="discussion">

  </ol>
  <div class="text-box">User Enters Message/Text here!
    <p></p>
  </div>
</section>
<script src="//ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>
<%= javascript_include_tag "chat" %>
</body>
</html>